.custom-table {
    width: 100%;
    margin-top: 2rem;
}

.custom-table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.custom-table th,
.custom-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.data-row {
    padding: 2rem;
}